body {
  background-color: #94c5cc;
  font-family: sans-serif;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: #086375;
  padding: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
  color: #f8f8f8;
}

select {
  display: block;
  border-radius: 10px;
  font-size: 18px;
  width: 100%;
  padding: 10px;
  background: #f8f8f8;
  color: #000100;
}

h2 {
  margin: 0 0 10px;
  font-size: 28px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  color: #f8f8f8;
}

.city:last-of-type {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 46px;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  vertical-align: middle;
  line-height: 48px;
}

footer {
  text-align: center;
  font-size: 16px;
  color: #f8f8f8;
}

a {
  color: #76b5be;
}
